/* 
Palette de couleurs

hsl(148, 100%, 20%) vert sombre; titres et boutons / liens
rgba(15, 235, 44, 0.1); vert pâle, couleur de fond
hsla(59, 75%, 51%, 0.527); "jaune céréale" pour effet de survol et de focus de champ à remplir
rgb(2, 2, 2); box-shadow noir  

Échelle rythmique
6px
12px
20px
30px
80px

Échelle typographique

'El Messiri', sans-serif => texte régulier
'Open Sans', sans-serif; => pour les titres
line-height de base = 1.5625


16px
20px
26px
50px
80px

*/

/* Propriétés personnalisées :::::::: */
:root {
	--gutterMega: calc(var(--gutter) * 4);
	--gutterKilo: calc(var(--gutter) * 3);
	--gutterHecto: calc(var(--gutter) * 2);
	--gutterDeca: calc(var(--gutter) * 1.5);
	--gutter: 1rem;
	--gutterDeci: calc(var(--gutter) * .75);
	--gutterCenti: calc(var(--gutter) * .5);

	--cardMinSize: 450px;

	--bottomBarHeight: 80px;
}

/* Règles génériques ----------------------- */

/* Rétablir les marges 
intérieures & extérieures sur tout */
* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

body {
	padding: var(--gutter);
}

/* Rythme vertical général */
* + :is(p, h2, img, a, input, .grille) {
	margin-top: var(--gutter);
}

/*Pour bien séparer les grandes sections et l'en-tête*/
main > * + *,
header > * + *:not(div),
* + h1 {
	margin-top: var(--gutterMega);
}

input + button {
	margin-top: var(--gutterCenti);
}



/* Style pour les images */
picture {
	display: block;
}

img {
	display: block;
	max-width: 100%; 
	overflow: hidden;
	object-fit: cover;
}

img.focus-bas {
	object-position: bottom;
}

.imagePrincipale {
	width: 100%;
	max-height: 500px;
}

.logo-mobile {
	display: none;

	width: 20%;
	min-width: 75px;
	max-width: 120px;
	margin-right: auto;
	margin-left: auto;
}

/*-------------- Éléments de formulaires et liens -----------------*/
:not(p) > a {
	display: inline-block;
}

input,
button,
.cta {
	padding: 10px;
	border-radius: 4px;
	border: none;
}

input {
	width: 80%;
}



/*Conteneur de grille ------------*/
.grille {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--cardMinSize), 1fr));
	column-gap: var(--gutterHecto);
	row-gap: var(--gutterHecto);
}

.grille img {
	width: 100%;
	height: 12rem;
	max-height: 300px;
}



/* Bloc à deux panneaux */
.deux-panneaux {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gutterHecto);
}

.deux-panneaux > * {
	flex-basis: calc((100% / 2) - var(--gutterHecto));
	flex-grow: 1;
	align-self: center;
}

.deux-panneaux > h3 {
	flex-basis: 100%;


}

.deux-panneaux .panneau-texte {
	align-self: center;
}

.deux-panneaux picture,
.deux-panneaux img {
	width: 100%;
	max-height: 400px;
}


/* Encadré / CTA */
.encadre {
	padding: calc(var(--gutter) * 2);
}

.encadre > .contenu {
	max-width: 100ch;
	margin-right: auto;
	margin-left: auto;
}

.encadre > .contenu > * {
	min-width: 15rem;
}

.encadre img {
	min-height: 100%;
}



/* Panneau promo */
.promo > * {
	min-width: 12rem;
}


/*----Navigation principale */
.logo {
	min-width: 50px;
	width: 100%;
	max-width: 90px;
	height: auto;
}    

nav.navigation {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: var(--gutterDeca);
	align-items: center;
}

.navigation-principale {
	grid-column: 2;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation-principale > * {
	flex-grow: 1;
	position: relative;
}

.selection-langue {
	justify-self: end;
}

.selection-langue > * {
	display: inline-block;
}



.menu ul ul {
	display:none;
	position:absolute;
	left: 0;

	width: max-content;
	
	background-color: white;
}

.navigation-principale li > ul a {
	display: block; 
	
	width: 100%;

	line-height: 1.3em;
	color: inherit;
	transition-duration: 100ms;
}

.menu ul li:hover ul {
	display: block; 
}

nav ul a {
	padding: 6px clamp(.5em, .3em + 1.2vw, 1em);
	color: inherit;
	
	transition-duration: 100ms;
}



.menu_droite {
	margin-left: auto; 
	display: flex;
}



/*------------menu burger--------------*/
#toggle:checked ~ label > svg {
	transform: rotateZ(180deg);
}

.label-toggle {
	display: none;

	height: var(--bottomBarHeight);
	padding-top: var(--gutter);
	padding-bottom: var(--gutterDeca);
}

.label-toggle > svg {
	display: inline-block;
	width: 30px;

	transition-property: transform;
	transition-timing-function: ease-in;
	transition-duration: 150ms;
}

.label-toggle > span {
	margin-top: var(--gutterCenti);
}


/*----------------footer----------------*/
footer {
	display: grid;
	grid-template-columns: minmax(min-content, 30ch) auto minmax(min-content, 30ch);
	gap: var(--gutter);

	width: 50%;
	padding: var(--gutter);
}

footer .logo {
	max-width: 80px;
}

/*footer nav {
	justify-self: center;
}*/

/*----Navigation secondaire, dans le footer-------------*/
.menu_secondaire {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.infolettre {
	padding-top: 6px;

	text-align: right;
}


/* Adaptation de la maquette pour les appareils suivants */
@media (max-width: 1150px) {
	:root {
		--cardMinSize: 400px;
	}

	footer {
		grid-template:
			".....	nav		nav		....."
			".....	address	news	....."
			/ var(--gutterMega) 1fr 1fr var(--gutterMega);
		gap: var(--gutterHecto);
	}

	footer > nav {
		grid-area: nav;
	}

	.adresse {
		grid-area: address;
	}

	.infolettre {
		grid-area: news;
	}
}

@media (max-width: 650px) {
	:root {
		--cardMinSize: 300px;
	}

	.grille img {
		max-height: 150px;
	}

	.encadre > .contenu > * {
		min-width: 20ch;
	}
}





/*-------------Menu secondaire dans le footer en 2 colonnes--------*/
@media (min-width: 320px) and (max-width: 720px) {
	footer {
		grid-template:
			".....	address	......"
			".....	nav		....."
			".....	news	....."
			/ 1fr	6fr		1fr;
		gap: var(--gutterHecto);

		text-align: center;
	}

	.adresse,
	.menu_secondaire,
	.infolettre {  
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer .infolettre {
		text-align: center;
	}
}

/*----------Menu burger seulement avec-------------- */
@media (max-width: 1050px) {
	body {
		padding-top: var(--gutterHecto);
	}
	/* Ajustement de la marge supérieure du titre principal */
	header > h1 {
		margin-top: .5em;
	}

	/* Déployer le logo de haut de page */
	.logo-mobile {
		display: block;
	}
	
	
	
	/*---------------menu burger---------------*/
	.menu ul ul {
		display:block;
		position:relative;

		margin-left: 0;
	}
	
	header ul {  
		display: flex;
		flex-direction: column;
	}
		
	.selection-langue {
		justify-self: start;
	}
	
	footer {
		margin-bottom: calc(var(--bottomBarHeight) + var(--gutterDeca));
	}

	.label-toggle {
		display: block;
		cursor: pointer;

		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 2;
		
		width: 100%;

		background-color: var(--primary-dark);
	}

	.label-toggle > span {
		display: block;
	}

	.menu-burger {
		position: fixed;
		left: 0;
		bottom: -100%;
		z-index: 1;
		
		width: 100%;
		height: calc(100% - var(--bottomBarHeight));
		padding: var(--gutter);
		
		background-color: white;
		opacity: 0.5;

		align-items: center;
		justify-content: center;

		transition-property: opacity, bottom;
		transition-timing-function: ease-in;
		transition-duration: 150ms;
	}


	.menu-burger a {
		display: block;
		
		border-bottom: 1px solid #EAEAEB;
		margin: 0;
		
	}

	.navigation-principale ul a {
		padding-left: var(--gutterDeca);
	}

	#toggle:checked ~ .menu-burger {
		display: flex;

		bottom: var(--bottomBarHeight);
		opacity: 1;	
	}
}

/*------------------Téléphone et Tablette---------------*/
@media screen and (max-width: 1150px) {

	.menu ul {  
		align-items: unset;
	}
}



/* Utilitaires :::::::: */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }