/* 
Palette de couleurs

#228B22 vert des gros titres
rgba(15, 235, 44, 0.1); vert pâle, couleur de fond
rgba(15, 235, 44, 0.3); bouton hover
rgb(2, 2, 2); box-shadow noir  

Échelle rythmique
6px
12px
20px
30px
80px

Échelle typographique

'El Messiri', sans-serif
line-height de base = 1.5625
font-family: 'Noto Sans JP', sans-serif; => pour les titres

16px
20px
26px
50px
80px

*/

/* Règles génériques ----------------------- */

/* Rétablir les marges 
intérieures & extérieures sur tout */
* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

header {
	margin-bottom: 30px;
}

body {
	padding: 20px;
}

/* Rythme vertical général */
* + :is(p, h2, img, a, button, input, .grille) {
	margin-top: 20px;
}

/*Pour bien séparer les grandes sections et l'en-tête*/
body> * + *,
header > * + *,
* + h1 {
	margin-top: 80px;
}



/* Style pour les images */
picture {
	display: block;
}

img {
	display: block;
	max-width: 100%; 
	overflow: hidden;
	object-fit: cover;
}

img.focus-bas {
	object-position: bottom;
}

img[src*="resto1"] {
	object-position: 0px -35px;
}

.imagePrincipale {
	width: 100%;
	max-height: 500px;
}


/*-------------- Éléments de formulaires et liens -----------------*/
:not(p) > a {
	display: inline-block;
}

input,
button,
.cta {
	padding: 10px;
	border-radius: 4px;
	border: none;
}

input {
	display: block;
	width: 100%;
}



/*Conteneur de grille ------------*/
.grille {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	column-gap: 20px;
	row-gap: 60px;
}

.grille h2 {
	font-size: 30px;
}

.grille img {
	width: 100%;
	max-height: 300px;
}



/* Bloc à deux panneaux */
.deux-panneaux {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.deux-panneaux > * {
	flex-basis: calc((100% / 2) - 20px);
	flex-grow: 1;
}

.deux-panneaux > h2 {
	flex-basis: 100%;
}

.deux-panneaux .panneau-texte {
	align-self: center;
}

.deux-panneaux picture,
.deux-panneaux img {
	width: 100%;
	max-height: 400px;
}


/* Encadré / CTA */
.encadre {
	padding: 40px;
}

.encadre > .contenu {
	max-width: 100ch;
	margin-right: auto;
	margin-left: auto;
}

.encadre > .contenu > * {
	min-width: 30ch;
}

.encadre img {
	min-height: 100%;
}



/* Panneau promo */
.promo h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}


/*----Navigation principale */
.logo {
	max-width: 80px;
	height: auto;
}    

nav.navigation {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

.navigation-principale {
	grid-column: 2;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation-principale > * {
	flex-grow: 1;
}

.selection-langue {
	justify-self: end;
}

.selection-langue > * {
	display: inline-block;
}



.menu ul ul {
	display:none;
	position:absolute;
	padding:0;
	background-color: white;
	margin-left: -10px;
}

.menu ul ul li {
	float:none;
	margin: 0px 11px;
}

.menu>ul>li>ul a {
	display: block; 
	padding: 0;
	margin: 0;
	line-height: 1.3em;
	color: inherit;
	transition-duration: 100ms;
}

.menu ul li:hover ul {
	display: block; 
}

.menu a {
	padding: 6px clamp(.5em, .3em + 1.2vw, 1em);
	color: inherit;
	
	transition-duration: 100ms;
}



.menu a:hover {
	background-color: #228B22;
	color: white;
}

.menu_droite {
	margin-left: auto; 
	display: flex;
}



/*------------menu burger--------------*/
.label-toggle {
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: left;
	z-index: 2;
	position: relative;
}

#toggle {
	display: none;
}

.nav>label{
	display: none;
}




/*----------------footer----------------*/
footer {
	display: grid;
	grid-template-columns: minmax(min-content, 30ch) auto minmax(min-content, 30ch);
	gap: 20px;

	padding: 20px;
}

footer .logo {
	max-width: 80px;
}

footer nav {
	justify-self: center;
}

/*----Navigation secondaire, dans le footer-------------*/
.menu_secondaire {
	display: flex;
	align-items: center;
}

.infolettre {
	padding-top: 6px;

	text-align: right;
}


/* Adaptation de la maquette pour les appareils suivants */
@media (min-width: 320px) and (max-width: 500px) {
	/*Téléphone*/
	body>*+* {
		margin-top: 40px;
	}
	
	.menu_droite {
		margin-left: 10px;
	}
	
	
	#site-search { 
		width: 60px;
	}
		
	.adresse {
		display: flex;
		align-items: center;
		text-align: center;
		margin: 20px;		
	}
	
	.mail-search {
		margin-left: 0;
		width: 100px;
	}
}

@media (min-width: 501px) and (max-width: 1150px) {
	/*Tablette*/
	.logo {
		max-width: 80px;
		height: auto;
	}
}

/*-------------Menu secondaire dans le footer en 2 colonnes--------*/
@media (min-width: 320px) and (max-width: 461px) {
	footer ul {  
		display: flex;
		flex-direction: column;
	}
}

/*----------Menu burger seulement avec-------------- */
@media (min-width: 320px) and (max-width: 980px) {
	
	.menu ul ul {
		display:block;
		position:relative;
		padding:0;
		
		background-color: white;
		margin-left: 10px;
	}
	
	
	/*---------------menu burger---------------*/
	header {  
		margin-top: 50px; 
	}
	
	header ul {  
		display: flex;
		flex-direction: column;
	}
	
	.nav {
		position: fixed;
		top: 0;
		background-color: white;
		width: calc(100% - 5px);
		z-index: 1;
	}
	
	.navigation { 
		flex-direction: column-reverse;
	}
	
	.menu_droite { 
		margin-left: auto;
	}
	
	.menu_droite ul { 
		flex-direction: row;
	}
	
	.label-toggle {
		display: block;
		cursor: pointer;
	}
	.menu-burger {
		width: 100%;
		display: none; 
		position: fixed;
		background-color: white;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		align-items: center;
		justify-content: center;
	}
	.menu-burger a {
		display: block;
		border-bottom: 1px solid #EAEAEB;
		margin: 0;
		
	}
	#toggle:checked + .menu-burger {
		display: flex;
	}
	
	.logo{
		display: none;
	}
	.nav>label{
		display: block;
	}
}

/*------------------Téléphone et Tablette---------------*/
@media (min-width: 320px) and (max-width: 1150px) {
	.menu ul {  
		display: flex;
	}
	
	.txtBotanique { 
		margin-left: 5px;
	}
}