/* Réinitialisations :::::::: */
li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	background-image: linear-gradient(135deg, rgba(15, 235, 44, 0.08), rgba(0,0,0,0) 30%);
	background-attachment: fixed;
}

h1,
h2,
h4 {
	color: #228B22;
}

input,
.encadre {
	background-color: rgba(15, 235, 44, 0.1);
}

input {
	box-shadow: 
		1px 1px 2px 0px rgba(0,0,0,.2),
		1px 1px 3px 0px rgba(0,0,0,.2);
}

input:focus {
	background-color: hsla(59, 75%, 51%, 0.527);
	outline: 0;
	box-shadow: 
		1px 1px 4px 1px hsla(308, 86%, 95%, .5),
		1px 1px 3px 0px rgba(0,0,0,.2);
}

button,
.cta {
	color: white;
	background-color: #228B22;
	box-shadow: 
		1px 1px 2px 0px rgba(0,0,0,.2),
		1px 1px 3px 0px rgba(0,0,0,.2);
	
	cursor: pointer;

	transition-property: transform background-color;
	transition-duration: 120ms;
}

:is(button, .cta):hover,
:is(button, .cta):focus {
	background-color: rgba(15, 235, 44, 0.3);
	color:#000000;
}

:is(button, .cta):focus {
	outline: 2px dotted #228B22;
	box-shadow: 
		1px 1px 4px 1px hsla(308, 86%, 95%, .5),
		1px 1px 3px 0px rgba(0,0,0,.2);
}

:is(button, .cta):active {
	transform: translateY(4px);
}

::placeholder {
	font-style: oblique;
	text-overflow: ellipsis;
}


/* Bordure de séparation de certains éléments d'en-tête */
section > header,
.promo h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}