/* Base typographique à être héritée */
html {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px; 
	line-height: 1.5625;
}


/* Police titre */
h1, h2, h3, h4, h5, h6 {
	font-family: 'El Messiri', sans-serif;
}
/* Interlignage propre aux titres
        (moins espacé que le contenu courant) */
    
	
h1 {		
	font-size: 80px;
	line-height: 1.1em;		
}

h2 {
	font-size: 50px;
	line-height: 1.2em;
}

h3 { 
	font-size: 26px;
}

h4 {
	font-size: inherit;
}

/*body>div>h2 {
	margin-left: 10px; 
}*/

h5 {
	font-size: 16px;
}

li {
	list-style-type: none;
}

p {
	font-size: 20px;
}