/* Coeffecient de taille */
:root {
	--fontSizeInitial: 1rem;
	--fontBase: 1.5vw;
	--fontScale: 1.414; /* Augmented fourth https://type-scale.com */
	
	--fontScalingMega: calc(var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale));
	--fontScalingKilo: calc(var(--fontScale) * var(--fontScale) * var(--fontScale) * var(--fontScale));
	--fontScalingHecto: calc(var(--fontScale) * var(--fontScale) * var(--fontScale));
	--fontScalingDeca: calc(var(--fontScale) * var(--fontScale));
	--fontScalingBase: var(--fontScale);


}

/* Taille de caractères et hauteur de ligne */
html {
	font-size: clamp(
		var(--fontSizeInitial) * var(--fontScalingBase) / var(--fontScale),
		var(--fontBase) * var(--fontScalingBase) / var(--fontScale),
		var(--fontSizeInitial) * var(--fontScalingBase));
	line-height: 1.5625;
}

h1 {
	font-size: clamp(
		var(--fontSizeInitial) * var(--fontScalingMega) / var(--fontScale),
		var(--fontBase) * var(--fontScalingMega) / var(--fontScale),
		var(--fontSizeInitial) * var(--fontScalingMega));
	line-height: 1em;
}

h2 {
	font-size: clamp(
		var(--fontSizeInitial) * var(--fontScalingKilo) / var(--fontScale),
		var(--fontBase) * var(--fontScalingKilo) / var(--fontScale),
		var(--fontSizeInitial) * var(--fontScalingKilo));
	line-height: 1.025em;
}

h3 { 
	font-size: clamp(
		var(--fontSizeInitial) * var(--fontScalingDeca) / var(--fontScale),
		var(--fontBase) * var(--fontScalingDeca) / var(--fontScale),
		var(--fontSizeInitial) * var(--fontScalingDeca));
	line-height: 1.1em;
}

/* Base typographique à être héritée */
body {
	font-family: "Open Sans", sans-serif;
}


footer {
	font-size: .8em;
}


/* Police titre */
h1, h2, h3, h4, h5, h6 {
	font-family: 'El Messiri', sans-serif;
}


h1,
section > header {
	text-align: center;
}


h4 {
	font-size: inherit;
}

h5 {
	font-size: 16px;
}

input,
button {
	font-size: inherit;
	line-height: inherit;
}


.label-toggle {
	text-align: center;
	line-height: 1;
}

.label-toggle > span {
	font-size: 1em;
}

/* Aligné le texte à droite pour les encadrés avec photos à droite */
.encadre--pair .panneau-texte {
	text-align: right;
}

@media (min-width: 751px) and (max-width: 1150px) {
	:root {
		--fontScale: 1.333;
	}
}

@media (min-width: 501px) and (max-width: 750px) {
	:root {
		--fontScale: 1.250;
	}
}

@media (max-width: 500px) {
	:root {
		--fontScale: 1.125;
	}
}